<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Monitocar > {% block title %}{% endblock %}</title>
        {{ encore_entry_link_tags('maincss') }}
        {{ encore_entry_link_tags('tabler-plugins') }}
        {{ encore_entry_link_tags('appcss') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="page">
            {% include 'menu/menu.html.twig' %}
            {% include 'header.html.twig' %}

            <div class="content">
                <div class="container">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        {{ encore_entry_script_tags('mainjs') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
