<header class="main-header">
    <nav class="navbar navbar-expand navbar-white navbar-light" role="navigation">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                    <i class="fas fa-bars"></i>
                </a>
            </li>
        </ul>

        {# Search Form #}
        <form class="form-inline">
            <div class="input-group">
                <input class="form-control form-control-navbar" type="search" placeholder="Rechercher..." aria-label="Rechercher">
                <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        {# /Search Form #}
    </nav>
</header>