{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <article class="card">
        <div class="card-body text-center">
            <p>
                <span class="text-primary">1</span>
                véhicule saisi
            </p>
        </div>
    </article>
{% endblock %}
